{% extends 'base.html' %}
{% load static %}
{% block title%}Аномалии{% endblock %}

{% block menu%}
    <div name="menu" class="menu-row">
    <a href="{% url 'meteodata-main' %}" class="{{menu_status.0}}">Просмотр метеоданных</a>
    <a href="{% url 'forecast-main' %}" class="{{menu_status.1}}">Прогнозирование метеоданных</a>
    <a href="{% url 'anomaly-main' %}" class="{{menu_status.2}}">Анализ метеоданных</a>
    <form class="button {{ submenu_status.0}}" action="{% url 'anomaly-update' %}" method="post">
        {% csrf_token %}
        <button type="submit">Исследование на аномалии</button>
    </form>
    </div>
{% endblock menu%}
{% block submenu%}
{% endblock submenu%}

{% block content%}

<div class="block block-center">
    <form action="{% url 'anomaly-filter' %}" method="post">
        {% csrf_token %}
        <span>№: </span>
        <input class="semiinputfield" type="text" name="page" value={{ anomaly_page }}>
        <span  width="20px">/{{ anomaly_max_pages }}</span></br>
        <input type="text" placeholder="Введите данные для поиска..." class="inputfield" name="search" value={{ anomaly_search }}>
        <button class="buttonAdditional" type="submit">Показать</button>
    </form></br></br>


    <table class="main-table">
        <thead>
            <tr class="main-table-labels">
                {% for row in anomaly_top_labels%}
                    <td class="active">
                        <form method="post" action="{% url 'anomaly-sort' %}">
                            {% csrf_token %}
                            <input type="hidden" name="field_name" value={{forloop.counter}}>
                            <center><button type="submit">{{ row }}</button></center>
                        </form>
                    </td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in anomaly%}
                <tr class="main-table-row">
                <td><center>{{ row.id }}</center></td>
                <td><center>{{ row.meteodata_id }}</center></td>
                <td><center>{{ row.fieldname }}</center></td>
                <td><center>{{ row.value }}</center></td>
                <td><center>{{ row.anomaly }}</center></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}